In [1]:
## Cleaning the raw data for NYC TAXI FARE PREDICTION Project

In [2]:
import pandas as pd
import glob

In [3]:
files = glob.glob(r"D:\DATA\Project\8420\*.parquet")
files

['D:\\DATA\\Project\\8420\\yellow_tripdata_2025-04.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-05.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-06.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-07.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-08.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-09.parquet']

In [4]:
ff = files
ff

['D:\\DATA\\Project\\8420\\yellow_tripdata_2025-04.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-05.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-06.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-07.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-08.parquet',
 'D:\\DATA\\Project\\8420\\yellow_tripdata_2025-09.parquet']

In [5]:
dfs = [pd.read_parquet(f) for f in ff]

combined = pd.concat(dfs, ignore_index=True)

In [6]:
combined.shape

(24609427, 20)

In [7]:
df = combined
#df = pd.read_csv(r"D:\DATA\Project\8420\Taxi_data.csv")

In [8]:
df.head(50)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-04-01 00:47:06,2025-04-01 01:13:25,1.0,9.50,1.0,N,138,230,1,38.7,11.00,0.5,11.65,6.94,1.0,69.79,2.5,1.75,0.75
1,2,2025-04-01 00:27:35,2025-04-01 00:38:19,2.0,3.77,1.0,N,138,92,1,17.0,6.00,0.5,4.90,0.00,1.0,31.15,0.0,1.75,0.00
2,2,2025-04-01 00:24:07,2025-04-01 00:35:12,1.0,5.41,1.0,N,132,130,1,22.6,1.00,0.5,5.37,0.00,1.0,32.22,0.0,1.75,0.00
3,1,2025-04-01 00:56:30,2025-04-01 01:00:49,2.0,0.60,1.0,N,79,4,1,6.5,4.25,0.5,2.45,0.00,1.0,14.70,2.5,0.00,0.75
4,2,2025-04-01 00:00:17,2025-04-01 00:16:19,1.0,0.43,1.0,N,161,229,2,4.4,1.00,0.5,0.00,0.00,1.0,10.15,2.5,0.00,0.75
5,7,2025-04-01 00:39:00,2025-04-01 00:39:00,1.0,0.95,1.0,N,233,164,1,5.8,0.00,0.5,0.00,0.00,1.0,11.55,2.5,0.00,0.75
6,2,2025-04-01 00:54:37,2025-04-01 01:14:10,1.0,8.94,1.0,N,138,140,1,35.9,6.00,0.5,10.57,6.94,1.0,65.16,2.5,1.75,0.00
7,2,2025-04-01 00:11:13,2025-04-01 00:28:08,2.0,8.79,1.0,N,138,116,1,35.2,6.00,0.5,5.14,6.94,1.0,56.53,0.0,1.75,0.00
8,1,2025-04-01 00:33:16,2025-04-01 00:34:46,1.0,0.50,1.0,N,239,238,1,4.4,3.50,0.5,1.85,0.00,1.0,11.25,2.5,0.00,0.00
9,2,2025-04-01 00:48:56,2025-04-01 01:18:35,1.0,16.62,2.0,N,132,162,1,70.0,0.00,0.5,16.34,6.94,1.0,99.78,2.5,1.75,0.75
10,2,2025-04-01 00:55:44,2025-04-01 01:01:37,1.0,0.94,1.0,N,144,125,1,7.9,1.00,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75
11,2,2025-04-01 00:15:21,2025-04-01 00:28:13,3.0,2.40,1.0,N,142,151,1,14.2,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
12,2,2025-04-01 00:51:06,2025-04-01 01:05:28,1.0,3.19,1.0,N,162,7,2,17.0,1.00,0.5,0.00,0.00,1.0,22.75,2.5,0.00,0.75
13,1,2025-04-01 00:13:35,2025-04-01 00:34:32,1.0,8.70,1.0,N,138,236,1,33.8,10.25,0.5,10.50,6.94,1.0,62.99,2.5,1.75,0.00
14,1,2025-04-01 00:36:37,2025-04-01 01:05:35,1.0,0.00,1.0,N,68,17,1,29.5,0.00,0.5,0.00,0.00,1.0,31.00,0.0,0.00,0.00
15,2,2025-04-01 00:11:49,2025-04-01 00:26:46,1.0,3.06,1.0,N,114,229,1,17.0,1.00,0.5,2.00,0.00,1.0,24.75,2.5,0.00,0.75
16,2,2025-04-01 00:53:39,2025-04-01 01:25:47,2.0,18.96,2.0,N,132,41,1,70.0,0.00,0.5,15.69,6.94,1.0,95.88,0.0,1.75,0.00
17,2,2025-04-01 00:12:10,2025-04-01 00:34:28,1.0,11.13,1.0,N,138,125,1,44.3,6.00,0.5,11.36,0.00,1.0,68.16,2.5,1.75,0.75
18,2,2025-04-01 00:05:06,2025-04-01 00:20:30,1.0,3.22,1.0,N,68,229,1,17.7,1.00,0.5,4.69,0.00,1.0,28.14,2.5,0.00,0.75
19,2,2025-04-01 00:28:26,2025-04-01 00:44:48,1.0,2.86,1.0,N,107,87,1,17.7,1.00,0.5,4.69,0.00,1.0,28.14,2.5,0.00,0.75
20,2,2025-04-01 00:54:34,2025-04-01 00:59:13,1.0,1.09,1.0,N,231,114,1,7.2,1.00,0.5,2.59,0.00,1.0,15.54,2.5,0.00,0.75
21,2,2025-04-01 00:38:01,2025-04-01 00:40:26,1.0,1.05,1.0,N,237,162,2,6.5,1.00,0.5,0.00,0.00,1.0,12.25,2.5,0.00,0.75
22,1,2025-04-01 00:52:29,2025-04-01 01:04:26,1.0,5.10,1.0,N,132,130,1,21.2,2.75,0.5,5.10,0.00,1.0,30.55,0.0,1.75,0.00
23,2,2025-04-01 00:36:34,2025-04-01 00:55:45,1.0,6.52,1.0,N,132,134,1,30.3,1.00,0.5,6.56,0.00,1.0,41.11,0.0,1.75,0.00
24,1,2025-04-01 00:09:20,2025-04-01 00:37:56,1.0,11.00,1.0,N,138,249,2,44.3,11.00,0.5,0.00,6.94,1.0,63.74,2.5,1.75,0.75
25,1,2025-04-01 00:48:22,2025-04-01 01:10:53,1.0,4.60,1.0,N,249,100,1,22.6,4.25,0.5,5.65,0.00,1.0,34.00,2.5,0.00,0.75
26,2,2025-04-01 00:35:18,2025-04-01 00:41:23,1.0,1.69,1.0,N,239,151,1,9.3,1.00,0.5,1.00,0.00,1.0,15.30,2.5,0.00,0.00
27,2,2025-04-01 00:45:01,2025-04-01 00:47:17,1.0,0.61,1.0,N,151,238,1,5.1,1.00,0.5,0.00,0.00,1.0,7.60,0.0,0.00,0.00
28,2,2025-04-01 00:07:18,2025-04-01 00:30:29,2.0,8.96,1.0,N,132,196,1,36.6,1.00,0.5,9.78,0.00,1.0,50.63,0.0,1.75,0.00
29,2,2025-04-01 00:11:23,2025-04-01 00:19:43,1.0,2.37,1.0,N,229,114,1,12.1,1.00,0.5,2.00,0.00,1.0,19.85,2.5,0.00,0.75
30,2,2025-04-01 00:29:20,2025-04-01 00:46:18,1.0,4.83,1.0,N,234,7,1,23.3,1.00,0.5,0.00,0.00,1.0,29.05,2.5,0.00,0.75
31,2,2025-04-01 00:04:27,2025-04-01 00:06:48,1.0,0.49,1.0,N,140,140,2,5.1,1.00,0.5,0.00,0.00,1.0,10.10,2.5,0.00,0.00
32,2,2025-04-01 00:35:44,2025-04-01 00:41:44,1.0,1.00,1.0,N,161,170,1,7.9,1.00,0.5,1.00,0.00,1.0,14.65,2.5,0.00,0.75
33,2,2025-04-01 00:49:40,2025-04-01 01:30:10,1.0,8.03,1.0,N,249,129,1,41.5,1.00,0.5,9.45,0.00,1.0,56.70,2.5,0.00,0.75
34,2,2025-04-01 00:33:30,2025-04-01 00:33:34,1.0,0.00,1.0,N,68,68,2,3.0,1.00,0.5,0.00,0.00,1.0,8.75,2.5,0.00,0.75
35,2,2025-04-01 00:33:52,2025-04-01 00:38:48,1.0,1.23,1.0,N,68,48,1,7.9,1.00,0.5,2.00,0.00,1.0,15.65,2.5,0.00,0.75
36,2,2025-04-01 00:16:08,2025-04-01 00:25:37,1.0,1.94,1.0,N,130,215,2,11.4,1.00,0.5,0.00,0.00,1.0,13.90,0.0,0.00,0.00
37,2,2025-04-01 00:50:18,2025-04-01 00:55:42,1.0,0.91,1.0,N,76,76,2,7.2,1.00,0.5,0.00,0.00,1.0,9.70,0.0,0.00,0.00
38,2,2025-04-01 00:03:16,2025-04-01 00:15:33,1.0,2.64,1.0,N,100,142,1,14.2,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75
39,1,2025-04-01 00:38:44,2025-04-01 00:45:32,1.0,0.90,1.0,N,114,79,1,8.6,4.25,0.5,2.85,0.00,1.0,17.20,2.5,0.00,0.75
40,2,2025-04-01 00:09:25,2025-04-01 00:17:24,2.0,3.52,1.0,N,138,179,1,15.6,6.00,0.5,4.62,0.00,1.0,29.47,0.0,1.75,0.00
41,1,2025-04-01 00:03:02,2025-04-01 00:38:47,0.0,18.20,2.0,N,132,230,1,70.0,5.00,0.5,5.00,6.94,1.0,88.44,2.5,1.75,0.75
42,2,2025-04-01 00:39:35,2025-04-01 00:48:32,1.0,1.89,1.0,N,186,50,1,11.4,1.00,0.5,3.43,0.00,1.0,20.58,2.5,0.00,0.75
43,2,2025-04-01 00:02:36,2025-04-01 00:12:43,2.0,1.87,1.0,N,114,209,1,12.1,1.00,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75
44,1,2025-04-01 00:02:36,2025-04-01 00:17:12,1.0,6.50,1.0,N,264,264,1,26.8,1.00,0.5,5.85,0.00,1.0,35.15,0.0,0.00,0.00
45,1,2025-04-01 00:57:33,2025-04-01 01:14:00,1.0,11.10,1.0,N,138,233,1,42.9,11.00,0.5,8.00,6.94,1.0,70.34,2.5,1.75,0.75
46,7,2025-04-01 00:25:00,2025-04-01 00:25:00,1.0,2.04,1.0,N,239,230,2,12.1,0.00,0.5,0.00,0.00,1.0,17.85,2.5,0.00,0.75
47,2,2025-04-01 00:20:54,2025-04-01 01:06:42,1.0,14.98,1.0,N,238,61,4,-65.3,-1.00,-0.5,0.00,-6.94,-1.0,-77.24,-2.5,0.00,0.00
48,2,2025-04-01 00:20:54,2025-04-01 01:06:42,1.0,14.98,1.0,N,238,61,4,65.3,1.00,0.5,0.00,6.94,1.0,77.24,2.5,0.00,0.00
49,1,2025-04-01 00:20:07,2025-04-01 00:44:01,1.0,10.50,1.0,N,70,158,1,42.9,11.00,0.5,11.05,0.00,1.0,66.45,2.5,1.75,0.75

In [9]:
print(df['tpep_pickup_datetime'].dtype)

datetime64[us]

In [10]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'], errors='coerce')

In [11]:
#Confirming if there are trips that with durations being more than a day
df['trip_duration_min'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
df[(df['trip_duration_min']/60) > 24]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min
456384,2,2025-04-05 01:56:07,2025-04-08 17:12:44,1.0,0.39,1.0,N,107,48,2,...,1.0,0.5,0.00,0.0,1.0,10.85,2.5,0.0,0.75,5236.616667
456860,2,2025-04-05 01:02:35,2025-04-06 12:32:40,1.0,1.97,5.0,N,37,37,2,...,0.0,0.5,0.00,0.0,1.0,19.49,0.0,0.0,0.00,2130.083333
679066,2,2025-04-07 10:09:19,2025-04-08 14:51:19,1.0,0.00,1.0,N,207,146,2,...,0.0,0.5,0.00,0.0,1.0,4.50,0.0,0.0,0.00,1722.000000
679541,2,2025-04-07 10:19:28,2025-04-08 10:26:55,1.0,0.00,1.0,N,207,7,2,...,0.0,0.5,0.00,0.0,1.0,4.50,0.0,0.0,0.00,1447.450000
792585,2,2025-04-08 12:10:32,2025-04-10 15:04:17,1.0,1.80,1.0,N,10,215,2,...,0.0,0.5,0.00,0.0,1.0,19.90,0.0,0.0,0.00,3053.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23822318,1,2025-09-09 19:45:26,2025-09-16 16:52:29,NaN,0.90,NaN,None,236,262,0,...,0.0,0.5,0.00,0.0,1.0,13.22,NaN,NaN,0.00,9907.050000
24009468,1,2025-09-14 00:58:11,2025-09-15 13:55:57,NaN,4.50,NaN,None,82,140,0,...,0.0,0.5,0.00,0.0,1.0,30.70,NaN,NaN,0.00,2217.766667
24106492,6,2025-09-16 20:08:00,2025-09-18 00:36:48,NaN,7.33,NaN,None,75,241,0,...,0.0,0.5,0.00,0.0,0.3,30.24,NaN,NaN,0.00,1708.800000
24185885,2,2025-09-19 01:06:49,2025-09-20 19:06:14,NaN,0.00,NaN,None,150,150,0,...,0.0,0.5,0.43,0.0,1.0,12.34,NaN,NaN,0.00,2519.416667
24191027,1,2025-09-19 08:35:19,2025-09-22 09:34:56,NaN,3.30,NaN,None,164,88,0,...,0.0,0.5,0.00,0.0,1.0,30.46,NaN,NaN,0.75,4379.616667

In [12]:
#Drop rows where passenger count is NaN
df = df.dropna(subset=['passenger_count'])

In [13]:
#Keeping row where passenger counts are not zero
df = df[df['passenger_count'] > 0]

In [14]:
print(df['PULocationID'].dtype)

int32

In [15]:
#Drop Rows where drop of and pick up locations are outside of New York or not known
df = df[~df['PULocationID'].isin([264,265])]
df = df[~df['DOLocationID'].isin([264,265])]

In [16]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
trip_duration_min               float64
dtype: object

In [17]:
#Removing rows based on their payment type
#0 - rare and mostly a subscription or special fare; doesnt seem to be there in the dataset
#3 - Its free trips and as such generates no fare
#4 - disputed; so could be incorrect or reversed
#5 - unknown; not real case
#6 - voided trips; generates no fare
df = df[~df['payment_type'].isin([0,3,4,5,6])]

In [18]:
df['payment_type'].unique()

array([1, 2])

In [19]:
df.sort_values(by='fare_amount', ascending=True).head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min
2928014,2,2025-04-28 10:36:21,2025-04-28 10:36:50,1.0,101.65,1.0,N,193,193,2,...,-3.25,-0.5,0.00,0.00,-1.0,-1052.15,0.0,0.00,0.00,0.483333
16932547,2,2025-08-02 18:07:49,2025-08-02 18:08:14,3.0,0.00,5.0,N,132,132,2,...,0.00,0.0,0.00,0.00,-1.0,-1000.00,0.0,0.00,0.00,0.416667
9843121,2,2025-06-12 21:31:58,2025-06-13 18:35:49,1.0,9.37,1.0,N,138,193,2,...,-6.00,-0.5,0.00,-6.94,-1.0,-917.34,0.0,-1.75,-0.75,1263.850000
10141725,2,2025-06-15 22:25:47,2025-06-15 22:25:55,1.0,0.00,5.0,N,226,226,2,...,0.00,0.0,0.01,0.00,-1.0,-900.99,0.0,0.00,0.00,0.133333
2119962,2,2025-04-20 21:18:34,2025-04-20 21:18:39,1.0,0.00,5.0,N,132,132,2,...,0.00,0.0,0.00,0.00,-1.0,-802.75,0.0,-1.75,0.00,0.083333

In [20]:
#Removing payment type column as it will only contain rows that are paid in cash or by card.
df = df.drop(columns=['payment_type'])

In [21]:
#Removing store_and_fwd_flag as its meant for audit purpose and doesnt really effect fare prices:
df = df.drop(columns=['store_and_fwd_flag'])

In [22]:
#Removing rows where the ratecodeID  is 99 or just NaN to prevent data quality issues.
df = df.dropna(subset=['RatecodeID'])
df = df[~df['RatecodeID'].isin([99])]
df[df['RatecodeID']==99].count()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
PULocationID             0
DOLocationID             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
cbd_congestion_fee       0
trip_duration_min        0
dtype: int64

In [23]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee',
       'trip_duration_min'],
      dtype='object')

In [24]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
PULocationID             0
DOLocationID             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
cbd_congestion_fee       0
trip_duration_min        0
dtype: int64

In [25]:
#Inspecting fare prices
pd.set_option('display.float_format', '{:,.2f}'.format) #Remvoing the exponent format
df['fare_amount'].describe()

count   17,037,699.00
mean            19.13
std            112.64
min         -1,047.40
25%              9.30
50%             13.50
75%             21.20
max        325,478.05
Name: fare_amount, dtype: float64

In [26]:
#There are some extreme outliers......
#To fix this, a fare range will be set from the base fare of $3 to a max of $500
#Why a base of $3? According to NYC.gov, it is the initial charge for a trip.
#Why a max of $500? It is a generous limit but should cover airport, toll and congestion prices

df = df[(df['fare_amount'] >= 3.00) & (df['fare_amount'] <= 500)]

In [27]:
#Checking
df['fare_amount'].describe()

count   16,926,926.00
mean            19.36
std             17.36
min              3.00
25%              9.30
50%             13.50
75%             21.20
max            500.00
Name: fare_amount, dtype: float64

In [28]:
df.shape

(16926926, 19)

In [29]:
df[(df['trip_duration_min']/60) > 24]
#These trips are not realistic as it spans more than a day and as such will be removed. Likely caused by some error, time zone anomalies or just corrupted.
df = df[(df['trip_duration_min']/60) <= 24]
#Ensuring there are no negative or 0 time trips
df = df[df['trip_duration_min'] >0]

In [30]:
#We can remove "improvement_surcharge" and "mta_tax" seem to be fixed attributes or have very little deviation and as such can be removed.
df = df.drop(columns=['mta_tax', 'improvement_surcharge'])

In [31]:
#"Tip_amount" doesnt really dictate the fare so its not needed and "total_amount" can cause a data leak.
df = df.drop(columns=['tip_amount', 'total_amount'])

In [32]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'fare_amount', 'extra', 'tolls_amount',
       'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee',
       'trip_duration_min'],
      dtype='object')

In [33]:
#Since all trips now occur within a single day, we only need one column for the day of the week and one column for the month, based on the pickup time.
#Additionally, a "time of day" category (Morning, Afternoon, Evening and Night) will be created using the pickup time, as the start time has a larger impact on fare than the drop-off time.

In [34]:
df['day_of_week'] = df['tpep_pickup_datetime'].dt.day_name()
df['month'] = df['tpep_pickup_datetime'].dt.month_name()
df['year'] = df['tpep_pickup_datetime'].dt.year
df['pickup_hour'] = df['tpep_pickup_datetime'].dt.hour
df['dropoff_hour'] = df['tpep_dropoff_datetime'].dt.hour

In [35]:
def time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

df['time_of_day'] = df['pickup_hour'].apply(time_of_day)

In [36]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'fare_amount', 'extra', 'tolls_amount',
       'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee',
       'trip_duration_min', 'day_of_week', 'month', 'year', 'pickup_hour',
       'dropoff_hour', 'time_of_day'],
      dtype='object')

In [40]:
df['month'].unique()

array(['April', 'March', 'May', 'January', 'June', 'July', 'August',
       'September', 'October'], dtype=object)

In [37]:
#Since temporal attributes are created there is no need for the 'tpep_pickup_datetime'and 'tpep_dropoff_datetime' attributes
df = df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,extra,tolls_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day
0,1,1.00,9.50,1.00,138,230,38.70,11.00,6.94,2.50,1.75,0.75,26.32,Tuesday,April,2025,0,1,Night
1,2,2.00,3.77,1.00,138,92,17.00,6.00,0.00,0.00,1.75,0.00,10.73,Tuesday,April,2025,0,0,Night
2,2,1.00,5.41,1.00,132,130,22.60,1.00,0.00,0.00,1.75,0.00,11.08,Tuesday,April,2025,0,0,Night
3,1,2.00,0.60,1.00,79,4,6.50,4.25,0.00,2.50,0.00,0.75,4.32,Tuesday,April,2025,0,1,Night
4,2,1.00,0.43,1.00,161,229,4.40,1.00,0.00,2.50,0.00,0.75,16.03,Tuesday,April,2025,0,0,Night

In [38]:
tf = pd.read_csv(r"D:\DATA\Project\8420\taxi_zone_lookup.csv")

In [39]:
tf.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [40]:
#Focus will be on only borough as it is broad and simple to work with, zone is alot more granular and could be useful for complex models. For the time being focus will be on boroughs along with EWR.
tf2 = tf[['LocationID', 'Borough']]
tf2.head()

   LocationID        Borough
0           1            EWR
1           2         Queens
2           3          Bronx
3           4      Manhattan
4           5  Staten Island

In [41]:
df['PU_Borough'] = df['PULocationID'].map(tf2.set_index('LocationID')['Borough'])
df['DO_Borough'] = df['DOLocationID'].map(tf2.set_index('LocationID')['Borough'])

In [42]:
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,extra,tolls_amount,congestion_surcharge,...,cbd_congestion_fee,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day,PU_Borough,DO_Borough
0,1,1.00,9.50,1.00,138,230,38.70,11.00,6.94,2.50,...,0.75,26.32,Tuesday,April,2025,0,1,Night,Queens,Manhattan
1,2,2.00,3.77,1.00,138,92,17.00,6.00,0.00,0.00,...,0.00,10.73,Tuesday,April,2025,0,0,Night,Queens,Queens
2,2,1.00,5.41,1.00,132,130,22.60,1.00,0.00,0.00,...,0.00,11.08,Tuesday,April,2025,0,0,Night,Queens,Queens
3,1,2.00,0.60,1.00,79,4,6.50,4.25,0.00,2.50,...,0.75,4.32,Tuesday,April,2025,0,1,Night,Manhattan,Manhattan
4,2,1.00,0.43,1.00,161,229,4.40,1.00,0.00,2.50,...,0.75,16.03,Tuesday,April,2025,0,0,Night,Manhattan,Manhattan

In [43]:
df = df.drop(columns=['PULocationID', 'DOLocationID'])
df.columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'fare_amount', 'extra', 'tolls_amount', 'congestion_surcharge',
       'Airport_fee', 'cbd_congestion_fee', 'trip_duration_min', 'day_of_week',
       'month', 'year', 'pickup_hour', 'dropoff_hour', 'time_of_day',
       'PU_Borough', 'DO_Borough'],
      dtype='object')

In [44]:
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,fare_amount,extra,tolls_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day,PU_Borough,DO_Borough
0,1,1.00,9.50,1.00,38.70,11.00,6.94,2.50,1.75,0.75,26.32,Tuesday,April,2025,0,1,Night,Queens,Manhattan
1,2,2.00,3.77,1.00,17.00,6.00,0.00,0.00,1.75,0.00,10.73,Tuesday,April,2025,0,0,Night,Queens,Queens
2,2,1.00,5.41,1.00,22.60,1.00,0.00,0.00,1.75,0.00,11.08,Tuesday,April,2025,0,0,Night,Queens,Queens
3,1,2.00,0.60,1.00,6.50,4.25,0.00,2.50,0.00,0.75,4.32,Tuesday,April,2025,0,1,Night,Manhattan,Manhattan
4,2,1.00,0.43,1.00,4.40,1.00,0.00,2.50,0.00,0.75,16.03,Tuesday,April,2025,0,0,Night,Manhattan,Manhattan

In [45]:
##Some descriptive stats of numerical variable to find outliers
num = df.select_dtypes(include = ['int64','float64']).columns
df[num].describe()

,passenger_count,trip_distance,RatecodeID,fare_amount,extra,tolls_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min
count,"16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00","16,608,071.00"
mean,1.31,3.29,1.09,19.42,1.64,0.56,2.34,0.16,0.58,16.72
std,0.73,18.54,0.47,17.42,1.93,2.08,0.61,0.50,0.32,28.42
min,1.00,0.00,1.00,3.00,-17.39,0.00,0.00,0.00,-0.75,0.02
25%,1.00,1.00,1.00,9.30,0.00,0.00,2.50,0.00,0.75,7.60
50%,1.00,1.70,1.00,13.50,1.00,0.00,2.50,0.00,0.75,12.50
75%,1.00,3.20,1.00,21.20,2.50,0.00,2.50,0.00,0.75,20.30
max,9.00,"48,199.11",6.00,500.00,38.61,134.06,2.50,1.75,0.75,"1,439.98"

In [46]:
#Concerns:
#"extra" & "cbd_congestion_fee" have negative values
#"trip_distance" has 0 distance trips and a max trip of 48,199.11 which doesnt seem right....
#Even after removing trips with a duration of more than 24 hour, there are some trips that take a whole day

#To prevent issues, these outliers will be removed .....

#Distance
df = df[(df['trip_distance'] > 0) & (df['trip_distance'] <= 100)]

#Duration
df = df[(df['trip_duration_min'] >= 5) & (df['trip_duration_min'] <= 100)]

#These limits are alot more realistic and a bit too generous but should pose no problems.

#"extra" & "cbd_congestion_fee" we can replace with flags instead. The other raw fees can also be converted to flgs to prevent data leak.

# Flag for airport trips
df['is_airport_trip'] = (df['Airport_fee'] > 0).astype(int)

# Flag for CBD congestion
df['is_cbd_congestion'] = (df['cbd_congestion_fee'] > 0).astype(int)

# Flag for extra charges
df['has_extra'] = (df['extra'] > 0).astype(int)

# Flag for tolls
df['has_toll'] = (df['tolls_amount'] > 0).astype(int)

# Flag for congestion surcharge
df['has_congestion_surcharge'] = (df['congestion_surcharge'] > 0).astype(int)

In [47]:
#Removing the raw fee columns
df = df.drop(columns=['Airport_fee', 'cbd_congestion_fee', 'extra', 'tolls_amount', 'congestion_surcharge'])

In [48]:
df.shape

(14715034, 19)

In [49]:
#Checking...
num = df.select_dtypes(include = ['int64','float64']).columns
df[num].describe()

,passenger_count,trip_distance,RatecodeID,fare_amount,trip_duration_min,is_airport_trip,is_cbd_congestion,has_extra,has_toll,has_congestion_surcharge
count,"14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00","14,715,034.00"
mean,1.32,3.61,1.07,20.64,17.79,0.10,0.79,0.60,0.08,0.94
std,0.73,4.40,0.38,16.90,13.02,0.30,0.40,0.49,0.28,0.24
min,1.00,0.01,1.00,3.00,5.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,1.20,1.00,10.00,9.12,0.00,1.00,0.00,0.00,1.00
50%,1.00,1.90,1.00,14.20,13.82,0.00,1.00,1.00,0.00,1.00
75%,1.00,3.58,1.00,22.60,21.63,0.00,1.00,1.00,0.00,1.00
max,9.00,93.60,6.00,500.00,100.00,1.00,1.00,1.00,1.00,1.00

In [50]:
#This seems alot more realistic and is in a perfect state for further EDA and modeling.

In [51]:
#Rearranging columns
columnn = 'fare_amount'

order = [c for c in df.columns if c != columnn]+ [columnn]

df = df[order]
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day,PU_Borough,DO_Borough,is_airport_trip,is_cbd_congestion,has_extra,has_toll,has_congestion_surcharge,fare_amount
0,1,1.00,9.50,1.00,26.32,Tuesday,April,2025,0,1,Night,Queens,Manhattan,1,1,1,1,1,38.70
1,2,2.00,3.77,1.00,10.73,Tuesday,April,2025,0,0,Night,Queens,Queens,1,0,1,0,0,17.00
2,2,1.00,5.41,1.00,11.08,Tuesday,April,2025,0,0,Night,Queens,Queens,1,0,1,0,0,22.60
4,2,1.00,0.43,1.00,16.03,Tuesday,April,2025,0,0,Night,Manhattan,Manhattan,0,1,1,0,1,4.40
6,2,1.00,8.94,1.00,19.55,Tuesday,April,2025,0,1,Night,Queens,Manhattan,1,0,1,1,1,35.90

In [54]:
df.columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'trip_duration_min', 'day_of_week', 'month', 'year', 'pickup_hour',
       'dropoff_hour', 'time_of_day', 'PU_Borough', 'DO_Borough',
       'is_airport_trip', 'is_cbd_congestion', 'has_extra', 'has_toll',
       'has_congestion_surcharge', 'fare_amount'],
      dtype='object')

In [55]:
df.shape

(14715034, 19)

In [52]:
#Saving the file
df.to_csv(r"D:\DATA\Project\8420\Taxi_data_clean.csv", index= False )

In [53]:
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------